@font-face{
  font-family: Bauhaus;
  src: url('font/Bauhaus 93 Regular.ttf') format('truetype');
}

:root {
  --main-orange:#EECD48;
  --main-grey: #3D3D3D;
  --welcome-orange: rgba(234, 193, 27, 0.80);
  --secound-grey: #C3C3C3;
}


html {
  margin: -1vh -0.6vw;
  font-size: 20px;
  color: var(--main-grey);
  font-family: Calibri;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86vw;
  height: 11vh;
  position: fixed;
  left: 7vw;
  top: 3vh;
  background-color: white;
  box-shadow: 5px 5px 10px 0 #3D3D3D;
  z-index: 1;
}

.logo a{
  background-color: var(--main-orange);
  display: flex;
  align-items: center;
  font-family: Bauhaus;
  text-decoration: none;
  color: var(--main-grey);
  font-size: 2em;
  height: 11vh;
}

.logo img {
  height: 10vh;
  width: auto;
  position: relative;
  left: 2vw;
  margin-right: 2vw;
}

nav ul {
  display: flex;
  list-style: none;
  position: relative;
  right: 2.5vw;
}

a {
  text-decoration: none;
  color: var(--main-grey);
}

nav li {
  margin: 0 2.5vw;
  font-size: 1.3em;
}

.logo-decoration {
  position: relative;
  left: 1vw;
  width: 2vw;
  height: 11vh;
  background-color: var(--main-orange);
  z-index: -1;
  transform: skewX(-13deg);
}

#welcome-section {
  display: flex;
  border-bottom: 0.5vh solid var(--main-grey);
}

.welcome-img {
  height: 100vh;
  width: 100vw;
}

.welcome-decoration {
  height: 100vh;
  width: 55vw;
  left: 10vw;
  margin-left: -55vw;
  position: relative;
  background-color: var(--welcome-orange);
  transform: skewX(-13deg);
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 32vw;
  height: 100vh;
  right: 8vw;
}

.mobile-img {
  width: 0;
  height: 0;
}

.mobile-contact {
  width: 0;
  height: 0;
  visibility: hidden;
}

.mobile-menu {
  width: 0;
  height: 0;
  visibility: hidden;
}

h3 {
  font-weight: normal;
  margin: 0;
  position: relative;
  left: 4vw;
}

h3 a {
  font-weight: 600;
}

.title {
  font-family: Bauhaus;
  font-size: 3.5em;
  font-weight: normal;
  margin: 0;
}

.text-area {
  width: 86vw;
  position: relative;
  left: 7vw;
}

.content {
  width: 80vw;
  position: relative;
  left: 3vw;
}

.triangle-offer{
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  border-style: solid;
  border-width: 930px 0 0 86vw;
  border-color: transparent transparent transparent var(--secound-grey);
}

#offer p {
  font-size: 1.3em;
}

.list-with-photo {
  display: flex;
  align-items: center;
}

.list-with-photo ul {
  width: 40vw;
}

.list-with-photo .photo {
  margin-left: 5vw;
}

.offer-photo img {
  width: 30vw;
  height: auto;
}

.offer-img-shadow {
  width: 30vw;
  height:47vh;
  background-color: var(--main-orange);
  margin-top: -44vh;
  margin-left: 2vw;
  z-index: -1;
  box-shadow: 5px 5px 20px 0 #3D3D3D;
}

#gallery .content{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-size: 4em;
  margin-top: -7vh;
}

.triangle-gallery{
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  border-style: solid;
  border-width: 0 86vw 107vh 0;
  border-color: transparent var(--main-orange) transparent transparent;
}

.rest-photo {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.chose-photo {
  width: 50vw;
  height: auto;
}

.gallery-img-shadow {
  position: absolute;
  width: 50vw;
  height: 77vh;
  top: 13.5vh;
  left: 16.5vw;
  background-color: var(--main-grey);
  z-index: -1;
  box-shadow: 5px 5px 10px 0 #3D3D3D;
}

#gallery i {
  margin: 0 7vw;
}

.triangle-contact{
  position: absolute;
  width: 0;
  height: 0;
  z-index: -2;
  border-style: solid;
  border-width: 100vh 86vw 0 0;
  border-color: var(--secound-grey) transparent transparent transparent;
}

#contact {
  height: 100vh;
}

.contact-with-form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-to-me {
  width: 30vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}

.call-to-me a {
  margin: 3vh 0;
  display: flex;
  align-items: center;
}

.call-to-me i {
  margin: 0 1vw;
  font-size: 1.2em;
}

form {
  margin-left: 5vw;
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-orange);
}

form input, textarea {
  border: 0.1vh solid var(--main-grey);
  font-size: 1em;
  width: 28vw;
  margin: 1vh 0;
  height: 6vh;
}

textarea {
  height: 30vh;
  font-family: Calibri;
  font-size: 1.2em;
}

.btn {
  margin-top: 1vh;
  font-size: 1em;
  width: 14vw;
  height: 6vh;
  background-color: var(--main-grey);
  color: var(--main-orange);
  border: none;
}

footer {
  width: 86vw;
  height: 8vh;
  position: relative;
  left: 7vw;
  background-color: var(--main-grey);
}

@media only screen and (max-width: 1000px) {
  .contact-with-form {
      justify-content: space-around;
  }
}

@media only screen and (max-width: 700px){

  html {
    font-size: 15px;
    overflow-x: hidden;
    position: relative;
    left: -1.6vw;
    top: -1vh;
  }

  #welcome-section {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    width: 100vw;
    background-color: var(--main-orange);
  }

  .welcome-img, .list-with-photo .photo, .offer-photo img, .offer-img-shadow, .welcome-decoration, .logo img, .logo-decoration {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .welcome-text {
    position: relative;
    height: 60vh;
    align-items: center;
    width: 50vw;
    right: 0;
  }

  .welcome-text .title {
    font-weight: 600;
    font-size: 4em;
    margin: -5vh 0 -2vh 0;
  }

  h3 {
    text-align: center;
    width: 70vw;
    left: 0;
    font-size: 1.2em;
  }

  header {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 100vw;
    height: 105vh;
    left: 2vw;
    visibility: hidden;
    z-index: -3;
    top: 0;
    background-color: var(--main-grey);
  }

  .logo a {
    color: var(--main-orange);
    background-color: var(--main-grey);
    font-weight: 500;
    font-size: 2.5em;
  }

  h4 {
    position: relative;
    top: 18vh;
    font-weight: 600;
    font-size: 2.5em;
  }

  nav ul {
    align-items: center;
    padding: 0;
    right: 0;
    top: -15vh;
  }

  nav a {
    font-size: 2em; 
    color: var(--main-orange);
  }
  
  .mobile-img {
    width: 20vw;
    height: auto;
  }

  .mobile-contact {
    display: flex;
    position: relative;
    bottom: 5vh;
    justify-content: space-between;
    font-size: 3em;
    height: auto;
    width: 90vw;
    visibility: visible;
  }

  .mobile-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: 2em;
    width: 90vw;
    height: auto;
    bottom: 3vh;
    visibility: visible;
    z-index: 3;
  }

  .text-area .title {
    text-align: center;
    padding: 3vh 0;
  }

  #offer {
    margin-bottom: 5vh;
  }

  #offer p {
    width: 80vw;
    margin: 0;
  }

  .list-with-photo {
    flex-direction: column;
    align-items: baseline;
  }
  
  #offer ul {
    margin: 3vh 0;
    width: 70vw;
    text-align: left;
  }
  
  .triangle-offer{
    border-width: 190vh 0 0 86vw;
  }

  #gallery .content {
    margin-top: -12vh;
    height: 92vh;
  }

  .gallery-img-shadow {
    width: 50vw;
    height: 67vh;
  }

  #contact {
    height: auto;
  }

  .contact-with-form {
    flex-direction: column;
  }

  .call-to-me {
    height: auto;
    align-items: center;
  }

  .call-to-me a {
    margin: 1.5vh;
  }

  form {
    width: 50vw;
    margin: 10vh;
    height: 80vh;
  }

  form input, textarea {
    width: 45vw;
    text-align: center;
  }

  textarea {
    height: 45vh;
  }

  .btn {
    width: 20vw;
  }

  .triangle-contact{
    border-width: 165vh 86vw 0 0;
  }

  footer {
    width: 100vw;
    margin-top: 6vh;    
    left: 0;
  }

}

@media only screen and (max-width: 500px){

  .gallery-img-shadow {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .content, .text-area {
    width: 100vw;
    left: 0;
  }

  h4 {
    top: 10vh;
  }

  nav ul {
    flex-direction: column;
    top: -8vh;
  }

  nav li {
    margin: 3vh 0; 
  }

  .welcome-text .title {
    font-size: 6em;
  }

  .welcome-text {
    bottom: 12vh;
    width: 80vw;
  }

  h3 {
    width: 80vw;
  }

  .mobile-img {
    width: 50vw;
  }

  .mobile-contact {
    font-size: 4em;
  }
  
  .mobile-menu {
    bottom: 7vh;
  }

  #offer p {
    position: relative;
    width: 90vw;
    left: 5vw;
  }
  
  #offer ul {
    position: relative;
    left: 6vw;
  }

  .triangle-offer{
    top: 91.5vh;
    border-width: 62vh 0 0 100vw;
  }

  .chose-photo {
    width: 90vw;
    height: 37vh;
    position: relative;
    top: -4vh;
  }

  #gallery .content {
    height: 45vh;
    font-size: 2em;
    margin-top: 0;
  }

  .triangle-gallery {
    border-width: 0 100vw 63vh 0;
  }

  #next-photo, #prev-photo {
    position: absolute;
    bottom: 8.6vh;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 37vh;
    width: 18vw;
    color: var(--secound-grey);
    background-color: rgba(61, 61, 61, 0.30);
  }

  #next-photo {
    right: 5vw;
  }

  #prev-photo {
    left: 5vw;
  }

  #gallery i {
    margin: auto
  }
  
  .contact-with-form {
    flex-direction: column;
  }

  .call-to-me {
    width: 100vw;
  }

  form {
    width: 80vw;
    margin: 5vh 10vw;
    height: 50vh;
  }

  form input, textarea {
    width: 70vw;
  }

  textarea {
    height: 20vh;
  }

  .btn {
    width: 40vw;
  }

  .triangle-contact{
    border-width: 106vh 100vw 0 0;
  }
}