$grey: #2F3640;
$font-color: #DCDDE1;
$green: #44BD32;



html, .container{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $grey;
    color: $font-color;
}

header {
    border-bottom: 3px solid $font-color;
}

footer {
    border-top: 3px solid $font-color;
    font-size: 10px;
}

nav li {
    list-style: none;
}

a {
    color: $font-color;
}

a:hover {
    text-decoration: none;
    color: $green;
}

#about {
    height: 100vh;
}

h1, h2 {
    font-family: 'Alegreya Sans', sans-serif;
}

h1 {
    position: relative;
    left: 10vw;
    line-height: 0.5;
    opacity: 0;
}

#about p {
    line-height: 1.6;
    opacity: 0;
    position: relative;
    left: -10vw;
}

.row {
    margin: 0;
}

#about .col-12 {
    padding: 0;
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 13px;
    }

    #about {
        height: 110%;
    }

    #project .col-11, #project .col-lg-5 {
        padding: 0;
        margin: 20px 0;
    }
  }

  @media only screen and (max-width: 300px) {
    html {
        font-size: 10px;
    }
  }



